:root {
  --secondary-bg-color: #f7f8fc;
  --primary-color-hover: #5849e2;
  --btn-bg-color-disabled: rgba(169, 170, 184, 0.3);
  --sidebar-bg-color: rgb(247, 248, 252);
}

p {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: #fafafa; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: #9e9e9e; /* цвет плашки */
}
