.container {
  display: flex;
  flex-direction: column;
  padding: 13px 8px;
  height: 100%;
  transition: background-color 300ms;

  &.open {
    background-color: var(--sidebar-bg-color);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 5px;
  margin-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  min-height: 0;
}

.chatList {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms;
  min-height: 0;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
