.container {
  padding: 13px 8px;
  height: 100%;
  transition: background-color 300ms;

  &.open {
    background-color: var(--sidebar-bg-color);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 5px;
  margin-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatList {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
